body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}
/* TODO: Add CSS for the rest of your solution below */

.redRow3 {
  width: 80px;
  background-color: red;
}

.redRow4 {
  display: flex;
  height: 60px;
  background-color: red;
  margin-bottom: 20px;
}

.redRow5 {
  width: 40px;
  height: 40px;
  background-color: red;
  justify-content: center;
}

.blueRow6 {
  width: 80px;
  background-color: blue;
  justify-content: center;
}

.blueRow7 {
  display: flex;
  height: 60px;
  background-color: blue;
  margin-bottom: 20px;
}

.greenRow7 {
  flex: 1;
  background-color: green;
}

.orangeRow8 {
  width: 80px;
  background-color: orange;
  justify-content: space-between;
}

.greenRow9 {
  width: 20px;
  background-color: green;
  justify-content: space-around;
}

.orangeRow9 {
  display: flex;
  height: 60px;
  background-color: orange;
  margin-bottom: 20px;
}

